DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteCond %{REQUEST_URI} \.(?:js|css|map|ico|png|jpe?g|gif|svg|webp|woff2?|ttf|eot)$ [NC]
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>
