:host {
  display: block;
  padding: 1.5rem;
}

.inventario-header {
  @apply mb-6;
}

th.mat-mdc-header-cell {
  font-weight: 700;
  background-color: var(--countable-input);
  color: var(--countable-text-secondary);
  text-transform: uppercase;
  font-size: 0.75rem;
}

td.mat-mdc-cell,
th.mat-mdc-header-cell {
  padding: 0 16px;
}

tr.mat-mdc-row:hover {
  background-color: rgba(56, 138, 243, 0.04);
}
